body {
    text-align: center;
    font-family: sans-serif;
    background-color: #393939;
    color: #fff;
}
a:link {
    color: pink;
}   
a:visited {
    color: pink;
}
a:hover {
    color: palevioletred;
}
a:active {
    color: hotpink;
}
